fastapi
uvicorn[standard]
motor
pydantic[email]
pydantic-settings
argon2-cffi
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
google-generativeai
python-multipart
apscheduler
reportlab
